src/main/webapp/wsdl/CXFService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.cxf.satyawadi.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.cxf.satyawadi.com" xmlns:intf="http://service.cxf.satyawadi.com" xmlns:tns1="http://json.cxf.satyawadi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.cxf.satyawadi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://json.cxf.satyawadi.com"/>
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="request" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="tns1:CXFResponse"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://json.cxf.satyawadi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="CXFResponse">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CXFService">

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CXFServiceSoapBinding" type="impl:CXFService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CXFServiceService">

      <wsdl:port binding="impl:CXFServiceSoapBinding" name="CXFService">

         <wsdlsoap:address location="http://tempuri.org/CXFServer/services/CXFService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
